.popup {
  background: #FFFFFF;
  box-shadow: 0 8px 14px 12px rgba(56, 56, 56, 0.05);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    input {
      width: 100%;
    }
  }
}

.cover {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;

  &_hidden {
    display: none;
  }
}